@import "tailwindcss";

* {
    cursor: none !important;

}

body {
    font-family: 'Arimo';
}



@layer utilities {
    .container-page {
        @apply container mx-auto flex justify-center items-center h-dvh
    }

    .linkLine {
        @apply flex justify-between uppercase text-5xl md:text-6xl lg:text-8xl
    }
}

@font-face {
    font-family: 'SilianRail';
    src: url('/fonts/SilianRail.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: var(--font-roboto-mono);
}


.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.perspective-\[1500px\] {
    perspective: 1500px;
}

/* ДЛЯ ПРЕДОТВРАЩЕНИЯ БАГА АНИМАЦИИ ПРИ ПЕРЕХОДЕ НА ДРУГИЕ СТРАНИЦЫ */

::view-transition-old(root),
::view-transition-new(root) {
    animation: none !important;
}

::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, clip-path;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 10000;
}

::view-transition-old(root) {
    z-index: 1;
}